.hamburger{
    height: 30px;
    width: 25px;
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    top: 30px;
    right: 52px;
    cursor: pointer;
    z-index: 20;
}

.hamburger .line{
    height: 2px;
    margin-bottom: 3px;
    width: 100%;
    display: block;
    border-radius: 3px;
    transition: all .2s ease;
    background-color: #fff;
}


.hamburger.menu-open .line:nth-child(1){
    background: #fff;
    transform: rotate(45deg);
    margin-bottom: 5px;
}

.hamburger.menu-open .line:nth-child(2){
    opacity: 0;
    transform: translateX(-16px);
}

.hamburger.menu-open .line:nth-child(3){
    background: #fff;
    transform: translateX(-5px) translateY(-8px) rotate(-45deg);
}
